*{box-sizing:border-box;word-wrap: break-word}
body, ul, li, ol, h1, h2, h3, h4, h5, h6 {padding:0;margin: 0;list-style: none;}
html{font-size: 20px;  color: #FFFFFF;  letter-spacing: 0;  line-height: 20px;}
img{max-width: 100%;}
a img {border:none;}
.min-width{min-height:1400px;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
a:hover{color: #FFFFFF;}

/*body{background:#C0C4F7;}*/
.wp {width: 60rem;  margin:auto;}
.cl{z-index: 1}
.cl:after {content: "";  display: block;  height: 0;  clear: both;  visibility: hidden;}

/*错误提示*/
.msg-default {
    color: #999;
    font-size: 18px;
}
.msg-error {
    color: red;
    font-size: 18px;
}
.msg-success {
    color: #0d0;
    font-size: 18px;
}
.hidden {
    display: none;
}
.true{
    position:relative;
    top:5px;
}

/*警告框*/
/*alert 框显示*/
#alertMsg {
    width: 380px;
    border: 1px solid #ddd;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 21px;
    font-size: 12px;
    background: #fff;
    z-index: 100000;
    display: block;
    position: absolute;
    top:260px;
    left: 870px;
}

#alertMsg_info {
    width: 265px;
    height: 116px;
    line-height: 1.6em;
    text-align: center;
    color: #333333;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 50px;
    background-size: 9% auto;
}
#alertMsg_btn{
    display: inline-block;
    position: relative;
    top: -25px;
    left: 125px;
    padding-left: 0;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: blue;
}

#alertMsg_btn cite{
    line-height: 21px;
    display: inline-block;
    padding:  5px 14px 4px 10px;
    font-style: normal;
    font-size: 16px;
    position: relative;
    left: 4px;
    border-radius: 2px;
}
#shadowDiv{
    top:60px;left:0;
    position:absolute;
    z-index:10000;
    background:rgba(0,0,0,.6);
    width:100%;
    height:860px
}